---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Segoe UI", "SegoeUI", Meiryo, Roboto, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #444;
$background-color: #CAE7F2;
$brand-color:      #e0b9f0;

$grey-color:       #666;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-small-palm:    320px;
$on-palm:          640px;
$on-laptop:        800px;

@mixin max-width($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin min-width($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin transform($val) {
  -o-transform: $val;
  -ms-transform: $val;
  -moz-transform: $val;
  -webkit-transform: $val;
  transform: $val;
}

@mixin filter($val) {
  -ms-filter: $val;
  -webkit-filter: $val;
  filter: $val;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "page",
  "landing"
;
