---
layout: landing
title: "IMAGINE THE FLOOR. #ITF_DJ"
redirect_from:
  - /about.html
  - /about/
---

<header class="landing-header">
  <h1 class="site-heading">
    IMAGINE THE FLOOR.
  </h1>

  {% include social_buttons.html %}
</header>

{% if site.data.events.upcoming %}
<div class="landing-header-wrapper landing-header-with-upcoming">
{% else %}
<div class="landing-header-wrapper landing-header-no-upcoming">
{% endif %}
  {% if site.data.events.upcoming %}
  <div class="heading-section heading-section-upcoming">
    <img src="{{ site.data.events.upcoming.flyer | prepend: site.baseurl }}"
      alt="{{ site.data.events.upcoming.name }} flyer" class="upcoming-flyer">

    <div class="upcoming-ticker-wrapper">
      <span class="upcoming-ticker">
        <span class="upcoming-date-indicatior-tip">Upcoming</span>
        <time class="upcoming-date">{{ site.data.events.upcoming.date | date: '%B %d, %Y' }}</time>
        <div class="upcoming-name">{{ site.data.events.upcoming.name }}</div>
      </span>
    </div>

    <a href="{{ site.data.events.upcoming.url }}" class="upcoming-event-url" target="_blank" rel="noopener noreferrer">Join Us</a>
  </div>
  {% endif %}
</div>

<div class="heading-section heading-section-event-description">
  <p>
    フロアで出会う、新しい自分 — <em>IMAGINE THE FLOOR.</em> は、<a href="https://twitter.com/octbass_tsukuba">つくば市天久保1丁目のクラブ OctBaSS</a> で定期開催されているクラブイベントです。
  </p>

  <p>
    クラブ初心者の人も気軽に足を運べるオールジャンルイベントです。好評につき定期イベントに昇格しました。
  </p>

  <p>
    番外編イベントとして、つくば市天久保3丁目のピザ屋さん「ピッツェリア レガーメ」にて <em>IMAGINE THE PIZZA. #ITP_DJ</em> も行っていました。また、不定期で東京出張編も開催しています。
  </p>
</div>

<div class="heading-section heading-section-archives">
  <h2 class="page-heading">Archives</h2>
  <div class="event-archives-wrapper">
    <ul class="event-archives">
      {% for ev in site.data.events.archives reversed %}
      <li class="event-archive-wrapper">
        <a href="{{ ev.archive | prepend: '/archives/' | prepend: site.baseurl }}" class="event-archive-link">
          <div class="event-archive-flyer-wrapper">
            <img src="{{ ev.flyer | prepend: site.baseurl }}" class="event-archive-flyer">
          </div>
          <div class="event-archive-name">{{ ev.name }}</div>
          <div class="event-archive-date">{{ ev.date | date: '%B %d, %Y' }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="heading-section heading-section-social-links">
  <h2 class="page-heading">Follow Us</h2>
  <ul class="social-links">
    <li class="social-link-twitter">
      <a href="https://twitter.com/@ITF_DJ">
        @ITF_DJ
      </a>
    </li>
    <li class="social-link-facebook">
      <a href="https://facebook.com/ITFDJ">
        Facebook
      </a>
    </li>
    <li class="social-link-mixcloud">
      <a href="https://www.mixcloud.com/ITF_DJ">
        Mixcloud
      </a>
  </ul>
</div>

<div class="heading-section">
  <h2 class="page-heading">More</h2>
  <ul class="more-page-links">
    <li><a href="/howtoitf.html">#ITF_DJ の楽しみ方</a></li>
    <li><a href="/photo.html">パーティーフォト</a></li>
    <li><a href="/notes.html">お願い・注意事項</a></li>
  </ul>
</div>

<div class="heading-section">
  <h2 class="page-heading">Posts</h2>
  <div class="wrapper-after-heading">
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS フィード</a></p>
  </div>
</div>
