---
layout: landing
title: "IMAGINE THE FLOOR. #ITF_DJ"
---

{% if site.data.events.upcoming %}
<div class="landing-header-wrapper landing-header-with-upcoming">
{% else %}
<div class="landing-header-wrapper landing-header-no-upcoming">
{% endif %}
  <header class="landing-header">
    <h1>
      <a href="/about/" class="site-logo-link">
        <img src="/images/itfdj_logo_circle.png" alt="IMAGINE THE FLOOR." class="site-logo">
      </a>
    </h1>

    <ul class="page-links-wrapper">
      <li><a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">
        IMAGINE THE FLOOR. について
      </a></li>
      <li><a class="page-link" href="{{ '/notes.html' | prepend: site.baseurl }}">
        お願い・注意事項
      </a></li>
    </ul>

    {% include social_buttons.html %}
  </header>

  {% if site.data.events.upcoming %}
  <div class="heading-section heading-section-upcoming">
      <img src="{{ site.data.events.upcoming.flyer | prepend: site.baseurl }}"
           alt="{{ site.data.events.upcoming.name }} flyer" class="upcoming-flyer">

    <a href="/about/#upcoming">
      <div class="upcoming-ticker-wrapper">
        <span class="upcoming-ticker">
          <span class="upcoming-date-indicator">
            UPCOMING: <time class="upcoming-date">{{ site.data.events.upcoming.date | date: "%Y-%m-%d" }}</time>
          </span>
          <div class="upcoming-name">{{ site.data.events.upcoming.name }}</div>
        </span>
      </div>
    </a>
  </div>
  {% endif %}
</div>

<div class="heading-section archives">
  <h2 class="page-heading">Archives</h2>
  <div class="event-archives-wrapper">
    <ul class="event-archives">
      {% for ev in site.data.events.archives reversed %}
      <li class="event-archive-wrapper">
        <a href="{{ ev.archive | prepend: '/archives/' | prepend: site.baseurl }}" class="event-archive-link">
          <div class="event-archive-flyer-wrapper">
            <img src="{{ ev.flyer | prepend: site.baseurl }}" class="event-archive-flyer">
          </div>
          <div class="event-archive-name">{{ ev.name }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="heading-section">
  <h2 class="page-heading">Recent Posts</h2>
  <div class="wrapper-after-heading">
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS フィード</a></p>
  </div>
</div>
