<footer class="site-footer">
  <div class="wrapper">
    <p>
      {% include social_buttons.html %}
    </p>
    <p>
      <ul class="footer-link-list">
        <li>
          <a href="{{ '/about/' | prepend: site.baseurl }}">IMAGINE THE FLOOR. について</a>
        </li>
        <li>
          <a href="{{ '/howtoitf.html' | prepend: site.baseurl }}">IMAGINE THE FLOOR. の遊び方</a>
        </li>
        <li>
          <a href="{{ '/notes.html' | prepend: site.baseurl }}">お願い・注意事項</a>
        </li>
      </ul>
    </p>
    <p>
      Copyright &copy; 2014 IMAGINE THE FLOOR.
    </p>
  </div>
</footer>
