$landing-background-color: #010001;
$landing-em-color: #fff;
$landing-meta-color: #aaa;
$landing-link-color: #aaf;

.landing-body {
  background: $landing-background-color;

  .page-heading {
    color: $landing-em-color;
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    padding: .2em .5em;

    @include max-width($on-palm) {
      font-size: 1.6em;
      padding: .3em .8em;
    }
  }

  .post-meta {
    color: $landing-meta-color;
  }

  a {
    color: $landing-link-color;
  }

  .heading-section + .heading-section {
    margin-top: 3.5em;
  }
}

.site-heading {
  color: $landing-em-color;
  font-size: 1.6em;
  font-weight: 900;
  opacity: .7;
}

.landing-header-wrapper {
  height: 800px;
  height: 90vh;

  max-height: 1000px;
  max-height: 100vw;

  min-height: 600px;
  overflow: hidden;

  padding: 2em 1.5em 0;

  position: relative;

  @include max-width($on-palm) {
    height: 320px;
    height: 100vw;
    min-height: 400px;
  }

  &.landing-header-with-upcoming {
    @include min-width($on-palm) {
      .heading-section-upcoming {
        margin-top: 20em;
      }
    }
    @include max-width($on-palm) {
      .heading-section-upcoming {
        margin-top: 10em;
      }
    }

    &::after {
      background: linear-gradient(to bottom, transparent, $landing-background-color);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -10;
    }
  }

  &.landing-header-no-upcoming {
    height: 300px;
    min-height: 300px;

    @include max-width($on-palm) {
      height: 400px;
      max-height: 400px;
    }
  }
}

.landing-header {
  padding-top: .6em;
  text-align: center;

  @include min-width ($on-laptop) {
    .site-heading, .social-buttons {
      display: inline-block;
    }

    .site-heading {
      margin-right: .6em;
    }
  }
}

.heading-section-upcoming {
  background-color: rgba(0, 0, 0, .4);

  display: inline-block;

  margin-left: -2em;

  @include max-width($on-palm) {
    margin-right: -2em;
  }

  padding: 0 2em;

  .upcoming-flyer {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    width: 100vw;
    z-index: -100;

    @include max-width($on-palm) {
      opacity: .7;
    }
  }

  a {
    color: $landing-em-color;
  }

  .upcoming-ticker-wrapper {
    color: $landing-em-color;
    font-size: 3em;
    font-weight: 900;
    margin-top: .4em;

    @include max-width($on-palm) {
      font-size: 1.7em;
    }
  }

  .upcoming-date-indicatior-tip {
    display: block;
    font-size: .8em;
    font-variant: small-caps;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1em;
  }

  .upcoming-date {
    display: block;
    margin: 0 0 .2em;
  }

  .upcoming-name {
    font-size: 1.3em;
    line-height: .75em;
  }

  .upcoming-event-url {
    color: $landing-em-color;
    display: inline-block;
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: bold;
    margin: .7em 0;

    @include max-width($on-palm) {
      margin: .4em 0;
    }
  }
}

.heading-section-event-description {
  color: $landing-meta-color;

  padding: 0 1em;

  p {
    margin: .4em 0;

    @include max-width($on-palm) {
      font-size: .8em;
    }
  }
}

.social-buttons {
  margin: 1em 0;

  iframe:not(:first-child) {
    margin-left: .3em;
  }
}

.event-archives-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  $scroll-bar-width: 8px;
  $scroll-bar-color: rgba(255, 255, 255, .4);

  &::-webkit-scrollbar {
    width: $scroll-bar-width;
  }
  &::-webkit-scrollbar:horizontal {
    height: $scroll-bar-width;
  }
  &::-webkit-scrollbar-button {
    background: transparent;
    height: 3px;
    width: 20px;
  }
  &::-webkit-scrollbar-piece:start {
    background: $scroll-bar-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $landing-background-color;
    border-radius: 8px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-color;
  }
}

.event-archives {
  $size: 220px;
  $height: 260px;
  $padding: 10px;

  display: table;
  height: $size;
  list-style-type: none;
  margin: 0;
  padding: 0 $padding;

  white-space: nowrap;

  .event-archive-wrapper {
    display: table-cell;
    height: $height;
    opacity: .7;
    width: $size;
    padding: 0 $padding;


    vertical-align: top;

    transition: opacity .1s ease 0s;

    &:hover {
      opacity: 1;
    }

    .event-archive-link {
      display: block;
      height: $height;
      text-decoration: none;
      width: $size;
    }

    .event-archive-flyer-wrapper {
      border-radius: 16px;
      display: block;
      height: $size;
      overflow: hidden;
      width: $size;
    }

    .event-archive-flyer {
      width: 100%;
    }

    .event-archive-name {
      color: $landing-em-color;
      font-weight: 400;

      margin-top: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.social-links {
  list-style-type: none;
  margin: 0;

  font-weight: bold;
  font-size: 2em;

  li {
    display: block;
    height: 2.4em;

    line-height: 2.4em;

    transition: border .1s ease 0s;

    &:hover {
      border-left: 10px solid $landing-em-color;
    }

    a {
      display: block;
      color: $landing-em-color;
      padding-left: 2.4em;
      text-decoration: none;
    }
  }

  $icon-padding: 25px;

  .social-link-twitter {
    background: url('/images/icons/twitter.svg') center left $icon-padding no-repeat #1da1f2;
    background-size: 1.2em;
  }
  .social-link-facebook {
    background: url('/images/icons/facebook-box.svg') center left $icon-padding no-repeat #3b5998;
    background-size: 1.2em;
  }
  .social-link-mixcloud {
    background: url('/images/icons/mixcloud.svg') center left $icon-padding no-repeat #2c3f4f;
    background-size: 1.2em;
  }
}

.more-page-links {
  font-size: 1.2em;
  margin-left: 2.4em;
  line-height: 1.8em;

  @include max-width($on-palm) {
    margin-left: 2.2em;
    line-height: 1.6em;
  }
}

.wrapper-after-heading {
  padding: 0 25px;

  @include max-width($on-palm) {
    padding: 0 20px;
  }
}
