.landing-body {
  background: #010001;

  .page-heading {
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    background: #000;
    margin: 0;
    padding: .4em .5em;

    @include max-width($on-palm) {
      font-size: 1.6em;
    }
  }

  .post-meta {
    color: #aaa;
  }

  a {
    color: #aaf;
  }

  img {
    opacity: .7;
    transition: opacity .6s ease 0s;

    @include max-width($on-palm) {
      opacity: .85;
    }

    &:hover {
      opacity: 1;
    }
  }

  .heading-section + .heading-section {
    margin-top: 3.5em;
  }
}

.landing-header-wrapper {
  height: 800px;
  height: 90vh;
  min-height: 600px;
  max-height: 1000px;
  max-height: 100vw;
  overflow: hidden;
  position: relative;
  padding: 2em 1.5em 0 1.5em;

  @include max-width($on-palm) {
    height: 320px;
    height: 100vw;
    min-height: 400px;
  }

  &.landing-header-no-upcoming {
    height: 300px;
    min-height: 300px;

    @include max-width($on-palm) {
      height: 400px;
      max-height: 400px;
    }
  }
}

.landing-header-no-upcoming {
  .site-logo-link {
    $size: 150px;
    width: $size;
    height: $size;

    .site-logo {
      width: $size;
      height: $size;
    }
  }
}

.site-logo-link {
  $size: 300px;
  width: $size;
  height: $size;

  .site-logo {
    opacity: .8;
    @include transform(rotate(10deg));
    transition: opacity .3s ease 0s;

    width: $size;
    height: $size;

    max-width: 88%;

    &:hover {
      opacity: 1;
      animation: scratch .5s ease 0s 1;

      @keyframes scratch {
        0% {   @include transform(rotate(10deg)); }
        20% {  @include transform(rotate(20deg)); }
        40% {  @include transform(rotate(-4deg)); }
        60% {  @include transform(rotate(12deg)); }
        80% {  @include transform(rotate(-8deg)); }
        100% { @include transform(rotate(10deg)); }
      }
    }
  }

  @include max-width($on-palm) {
    $size: 150px;
    width: $size;
    height: $size;
    .site-logo {
      width: $size;
      height: $size;
    }
  }
}

.page-links-wrapper {
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;

    @include max-width($on-palm) {
      display: block;

      &:not(:first-child) {
        margin-top: 2px;
      }
    }
  }

  a {
    box-sizing: border-box;
    opacity: .8;
    letter-spacing: .08em;
    font-size: 1.3em;
    padding: .35em .8em .35em 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(0,0,0,.8);
    transition: opacity .2s ease 0s;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 640px) {
      display: block;
      opacity: .9;
      font-size: 1.1em;
      line-height: 1.4em;
      letter-spacing: .04em;
    }
  }
}

.heading-section-upcoming {
  .upcoming-flyer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    z-index: -1;

    @include max-width($on-palm) {
      opacity: .5;
    }
  }

  a {
    color: #fff;
  }

  .upcoming-ticker-wrapper {
    letter-spacing: .01em;
    font-size: 3em;
    font-weight: 900;
    margin-top: .4em;
    text-shadow: 0px 0px 14px rgba(0,0,0,.4);
  }

  .upcoming-name {
    font-size: 1.3em;
    line-height: .75em;
  }

  @include max-width($on-palm) {
    .upcoming-ticker-wrapper {
      margin-top: 0;
      font-size: 1.3em;
    }
  }
}

.social-buttons {
  margin: 1em 0;

  iframe:not(:first-child) {
    margin-left: .3em;
  }
}

.event-archives {
  margin: 0;
}

.event-archive-wrapper {
  $height: 140px;
  $width:  100vw;

  $animation-delay: .02s;

  height: $height;

  overflow: hidden;
  display: block;
  position: relative;
  cursor: pointer;

  user-select: none;

  transition: height .2s ease $animation-delay;

  a {
    display: block;
  }

  .event-archive-flyer {
    width: 100%;
    margin-top: -20%;
    opacity: .7;
    transition: transform .2s ease $animation-delay, opacity .1s ease 0s;
  }

  .event-archive-name {
    display: inline-block;
    position: absolute;
    top: 0;
    left: .6em;
    box-sizing: border-box;
    z-index: 10;
    font-weight: 900;
    line-height: $height;
    width: 100%;
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.4);
    transform-origin: 0 50% 0;

    transition: transform .2s ease $animation-delay;

    @include max-width($on-palm) {
      left: .8em;
    }
  }

  @include max-width($on-palm) {
    $height: 60px;
    height: $height;

    .event-archive-name {
      top: 0;
      opacity: 1;
      font-size: 16px;
      text-shadow: 0 0 4px rgba(0,0,0,1);
      line-height: $height;
    }
  }

  &:hover {
    .event-archive-flyer {
      opacity: 1;
    }
    .event-archive-flyer-wrapper {
    }
    .event-archive-name {
      transform: scale(1.05);
    }
  }
}

.wrapper-after-heading {
  padding: 0 25px;

  @include max-width($on-palm) {
    padding: 0 13px;
  }
}
