/**
 * Site header
 */
.site-header {
  margin-top: 1.7em;
  text-align: right;
}

.site-title {
  font-size: 50px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;

  img {
    width: 200px;
    max-width: 40%;
    animation: turntable 4s linear 0s infinite;
    transition: opacity .3s ease 0s;

    @keyframes turntable {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &, &:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 560px) {
    font-size: 40px;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding-bottom: $spacing-unit;
  font-size: .7em;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
