/**
 * Site header
 */
.site-header {
  margin-top: 1.7em;
  text-align: right;
  z-index: 0;
}

.site-title {
  font-size: 50px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;

  img {
    width: 500px;
    max-width: 40%;
    animation: turntable-start 3s ease-in 0s 1, turntable 1.800180018s linear 3s infinite; // 33 + 1/3 per minute
    transition: opacity .3s ease 0s;
    opacity: .6;

    @keyframes turntable-start {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    @keyframes turntable {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    &:hover {
      opacity: 1;
    }
  }

  &, &:hover {
    text-decoration: none;
  }

  @include max-width($on-palm) {
    font-size: 40px;
  }
}


/**
 * Site footer
 */
.site-footer {
  padding-bottom: $spacing-unit;
  font-size: .8em;

  .footer-link-list {
    margin: 0;
    line-height: 1.75;
    list-style-type: none;

    li {
      display: inline-block;
      font-size: 1.1em;

      &:not(:first-child):before {
        content: ' || ';
        opacity: .5;
      }

      @include max-width($on-palm) {
        display: block;
        &:not(:first-child):before { content: none; }
      }
    }
  }
}


/**
 * Page content
 */
.page-content {
  position: relative;
  margin-top: -3.5em;
  padding-bottom: $spacing-unit;
}

.page-heading {
  font-size: 20px;
}


.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 20px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include max-width($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include max-width($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include max-width($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include max-width($on-laptop) {
      font-size: 18px;
    }
  }
}
